<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Guile's</title>


</head>
<body>
    <!-- Header -->
    <table cellspacing="20">
        <tbody>
            <tr>
                <td>
                    <img class="circular" src="/../images/profile_zap.jpeg" alt="Profile picture">
                </td>
                <td>       
                    <!-- Main info -->
    
                    <h1>Guile Vieira</h1>
                    <p><em>Student at <strong>École Polytechnique de Paris</strong></em></p>
                    <p>Engineering | Software development | Data Science.</p>
            
                    <p><a href="contact.html">Contact details</a></p></td>
            </tr>
        </tbody>
    </table>

    <hr class="bigHorizontalSeparator">

    <!--Education info -->
    <h3>Education:</h3>

    <table>
        <tbody>
            <tr>
                <td>(2020-2025)</td><td><a href="https://www.polytechnique.edu/en">École Polytechnique de Paris</a></td>
            </tr>
            <tr>
                <td>(2019-2020)</td><td><a href="http://www.ita.br/">Aeronautical Institute of Technology</a></td>
            </tr>
        </tbody>
    </table>


    <hr>

    <!-- Work experience -->
    <h3>Professional experiences</h3>
    <table>
        <tbody>
            <tr>
                <td>2021 (jan-jul)</td>
                <td>London</td>
                <td>Product manager at Cuukin</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>São Paulo</td>
                <td>Tutor and Monitor at Kuadro Distance Education</td>
            </tr>
        </tbody>

    </table>

    <hr>

    <!-- Skills -->
    <h3>Skills</h3>
    <table cellspacing="10">
        <tbody>
            <tr>
                <td>Python</td>
                <td>⭐⭐⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Excel</td>
                <td>⭐⭐⭐⭐⭐</td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>HTML</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>CSS</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>C</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Power Point</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Word</td>
                <td>⭐⭐⭐</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <!-- Languages -->
    <h3>Languages</h3>
    <ol>
        <li>Portuguese (Native)</li>
        <li>English (Fluent)</li>
        <li>French (Intermediate)</li>
    </ol>

    <hr>

    <h3>Hobbies</h3>
        <ul>
            <li>Karate</li>
            <li>Cooking</li>
            <li>Music</li>
        </ul>
    <script src="../scripts/index.js"></script>
</body>
</html>